---
Checks:            '*, -*abseil*, -*fuchsia*, -*google*, -*no-array-decay*, -*magic-number*, -*reinterpret-cast*, -*overloaded-operator*, -*default-arguments*, -*array-to-pointer-decay*, -*avoid-c-arrays*, -*pointer-arithmetic*, -*use-trailing-return-type, -*braces-around-statements*'
WarningsAsErrors:  ''
HeaderFilterRegex: none
FormatStyle:       'LLVM'
User:              troy lowry